*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: darkgray;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}

.escrita{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 31.5vw;


}

.texto{
    width: auto;
    top: 100px;
    text-align: justify;
}

.h1{
    text-align: center;
}
/* Menu da esquerda */
.MenuHambur{
    right: -20%;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 15%;
    cursor: pointer;
    transition: all 1.5s ease-in-out;
    transform: translateX(0vw);
    border: 3px solid #fff;
}

.MenuHamburBot{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px brown;
}

.MenuHamburBot::before,
.MenuHamburBot::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px brown;
    transition: all 1.5s ease-out;

}

.MenuHamburBot::before{
    transform: translateY(-3vh);
}
.MenuHamburBot::after{
    transform: translateY(3vh);
}

.coluna{
    position: relative;
    content: '';
    width: 30vw;
    height: 500px;
    left: -30vw;
    background-color: rgb(79, 79, 179);
    transition: transform 1.5s ease-out;
    border: 3px solid #fff;
}



/* MENUS ABERTOS */

.MenuHambur.open   {
    position: absolute;
    transition: all 1.5s ease-in-out;
    transform: translateX(-100%);
    background: transparent;
    box-shadow: none;
    z-index: 1;
}

.MenuHamburBot.open{
    transform: rotate(45deg);
    transition: all 1.5s ease-out;

}

.coluna.open{
    transition: all 1.5s ease-out;
    transform: translateX(30vw);
}

#cor{
    cursor: pointer;
    margin: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 19%;
    height: 80px;
    top: 80px;
    z-index: 1;
    color: black;
    border-radius: 50%;
}


.verde{
    background-color: rgb(80, 242, 80);
}

.amarelo{
    background-color: rgb(235, 235, 97);
}

.vermelho{
    background-color: rgb(250, 70, 70);
}

.azul{
    background-color: rgb(101, 101, 247);
}

.cinza{
    background-color: darkgray;
}

.roxo{
    background-color: blueviolet;
}

.rosa{
    background-color: rgb(235, 100, 158);
}

.laranja{
    background-color: rgb(255, 123, 0);
}


.slidercontainer{
    position: relative;
    top: 130px;
    width: auto;
}

.slider, .slider2{
    -webkit-appearance: none;  
    background-color: #fff;
    border-radius: 5em;
    opacity: 1;
    width: 100%;
}

.slider::-webkit-slider-thumb, .slider2::-webkit-slider-thumb{
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb, .slider2::-moz-range-thumb{
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider.hover, .slider2.hover{
    opacity: 1;
}

.numero, .numero2{
    position: relative;
    text-align: center;
}
