*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(211, 211, 211);
}

@media (max-width: 450px){
    .div1{
        margin-top: 5%;
        right: 5%;
        left: 5%;
        width: 90%;
        height: 160vw;

    }
    .cima{
        margin-top: 5%;
        width: 90%;
        left: 5%;
        right: 5%;

    }

    .baixo{
        margin-top: 5%;
        width: 90%;
        left: 5%;
        right: 5%;
        height: 200px;
    }

    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
  }

}


@media (min-width: 450px) {
    .div1{
        margin-top: 5%;
        right: 5%;
        left: 5%;
        width: 90%;
        height: 135vw;

    }
    .cima{
        margin-top: 5%;
        width: 90%;
        left: 5%;
        right: 5%;

    }

    .baixo{
        margin-top: 5%;
        width: 90%;
        left: 5%;
        right: 5%;
        height: 200px;
    }

    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
  }

}

@media (min-width: 762px) {
    body {
        overflow-x: auto;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 150px 150px 150px 150px 150px;
    }
    .div1{
        height: 97.5vh;

        width: 25vw;
        top: 2.5%;
        left: 5%;
        grid-column: 1;
        grid-row:1/6;
    }
    .cima{
        height: 23vh;
        right: 5%;
        margin-top: 2.5%;
        grid-column: 2;
        grid-row: 1/2;
        top: 0%;
    }

    .baixo{
        right: 5%;
        margin-top: 2.5%;
        grid-column: 2;
        grid-row: 2/4;
        margin-top: 5%;    
        height: 100%;


    }

    footer{
        background-color: #000000;
        padding: 1vh;
        grid-column: 1/2 span;
        position: abs;
    }

}

.div1{
    position: relative;
    background-color: #f0f8ff;
    border-radius: 1.6vw;
    box-shadow: 0px 0px 5px ;
}


.fotoenome{
    position: relative;
}

.foto{
    border-radius: 1.6vw;
}
.nome{
    font-style: oblique;
    color: #f0f8ff;
    position: absolute;
    text-shadow: 1px 1px #000000;
    margin-left: 0.2em;
    bottom: 0;
    z-index: 1;
}

.pessoal{
    margin-top: 2.5%;
    margin-left: 10%;
    font-size: large;
    position: relative;
   
}

hr{
    margin-top: 5%;
    position: relative;
    display: block;
    width: 100%;
}

.habilidades{
    margin-top: 2.5%;
    margin-left: 10%;
    position: relative;
  
}

.cima{
    position: relative;
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px ;
}


.trabalho{
    position: relative;
    margin: 1.5vw;
}

.baixo{
    position: relative;
    background-color: hsl(208, 100%, 97%);
    border-radius: 1.6vw;
    box-shadow: 0px 0px 5px ;

}

.lista3{
    margin-left: 5%;
}

.proj{
    margin-left: 2.5%;
    height: auto;
}

.hangman{
    margin-top: 2.5%;
    border-radius: 1.6vh;
}

.projetos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
}


.pythona, .jsa, .pd{
    text-align: center;
    margin-top: 2em;    
}

.modal_python, .modal_js, .modal_pd, .aa{
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    padding: 2%;
}

.i3{
    grid-column: 2;
    right: 50%;
    position: relative;
    max-height: 4vh;
}

.modal, .modaljs, .modalpd{
    background-color: #f0f8ff;
    opacity: 1;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    border-radius: 1.6vw;
    overflow: hidden;
    max-height: 85vh;
    box-shadow: 0px 0px 5px ;
    border-radius: 1.6vw;
}

.modal:target, .modaljs:target, .modalpd:target{
    opacity: 1;
    visibility: visible;
}


.modal:target .modalpy__content, .modaljs:target .modaljs__content, .modalpd:target .modal_pd{
    position: absolute;
    border-radius: 1em;
    opacity: 0;
    visibility: hidden; 
    
    
}

.modal__heading{
    margin-left: 2.5%;
    margin-bottom: 1em;
}

.modal__paragraph{
    line-height: 1.5em;
    text-align: justify;
    text-align: center;
    border-radius: 1.6vw;
    
}

.exlink{
    display: flex;
    justify-content: center;
}
p{
    width: 100%;
    min-height: 46vh;
    overflow: scroll;
    overflow-x: hidden;                     
    max-height: 80vh;

}

.ppd{
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.container{
    position: relative;
    text-align: center;
    overflow-y: hidden;

}
.aa{
    display: inline-block;
    overflow-y: hidden;

}

#modalpd{
    height: 35vh;
    overflow-y: hidden;
}

.modal__close{
    font-size: 2em;
    color: #363636;
    position: absolute;
    top: -1em;
    right: 0.5em;
}


img, video{
    position: relative;
    max-width: 100%;
    height: auto;
}

a:link,
a:visited{
    color: #363636;
    text-decoration: none;
    text-align: center;
    margin-top: 1em;
}

footer{

    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #E0D1CA;
}

.link{
    display: inline-block;
    margin-right: 10px;
}
.git{
    display: inline-block;
}
.link:hover, .git:hover {
    padding: 1px;
    transform: scale(1.5);
    overflow-x: none;
    cursor: pointer;
}
