* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #D3D3D3,#FFE6FF) ;
    background-attachment: fixed;
}


@media (max-width: 450px){
    .div1{
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
        padding-bottom: 1em;

    }
    .cima{
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        padding-bottom: 1em;
    }

    .baixo{
        margin-top: 5%;
        margin-bottom: 20%;
        width: 90%;
        margin-left: 5%;
    }

  
  .modal, .modaljs, .modalpd, .modalpgi{

    max-height: 70vw;

}
}


@media screen and (min-width: 450px) and (max-width: 762px) {
    .div1{
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
        height: 135vw;

    }
    .cima{
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
    }
        
    .lista3 > li{
        margin-left: 5%;
        padding: 1%;
    }
    .baixo{
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 30%;
    }



  .modal, .modaljs, .modalpd, .modalpgi{

    max-height: 60vw;

}

}

@media (min-width: 762px) {

    .div1{
        position: absolute;
        height: 85vh;
        width: 25vw;
        margin-top: 2.5em;
        left: 5%;
     
    }
    .cima{
        position: absolute;
        height: 25vh;
        width: 50vw;
        right: 10%;
        margin-top: 2.5em;
        overflow-y: auto;
    }

    .baixo{
        position: absolute;
        top: 40%;
        width: 50vw;
        right: 10%;
        
    }

    .modal, .modaljs, .modalpd, .modalpgi{

        max-height: 85vh;

    }


}

.div1{
    background-color: #f0f8ff;
    border-radius: 1.6vw;
    box-shadow: 0px 0px 5px ;
    overflow-y: auto;
}


.fotoenome{
    position: relative;
}

.foto{
    border-radius: 1.6vw;
}
.nome{
    font-style: oblique;
    color: #f0f8ff;
    position: absolute;
    text-shadow: 1px 1px #000000;
    margin-left: 0.5em;
    bottom: 0;
    z-index: 1;
}

.pessoal{
    margin-top: 2.5%;
    margin-left: 10%;
    font-size: large;
    position: relative;
   
}

hr{
    margin-top: 5%;
    position: relative;
    display: block;
    width: 100%;
}

.habilidades{
    margin-top: 2.5%;
    margin-left: 10%;
    position: relative;
    overflow-y: auto;
  
}

.cima{
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px ;
}


.trabalho{
    position: relative;
    margin: 1.5vw;
}

.baixo{
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
    row-gap: 2em;
    background-color: hsl(208, 100%, 97%);
    border-radius: 1.6vw;
    box-shadow: 0px 0px 5px ;
}

.baixo > div{
    width: 100%;
    max-height: 1em;
}

.h1{
    grid-column: 1;
    grid-row: 1;
    max-height: 1em;
}

.lista3{
    margin-left: 5%;
}


.list2{
    overflow-y: auto;
}

.pythona, .jsa, .pd, .pgi{
    text-align: center;
}

.modal_python,.modal_pgi, .modal_js, .modal_pd, .aa{
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    padding: 2%;
}



.i1{
    
    grid-column: 1;
    grid-row:2;
}

.i2{
    grid-column: 2;
    grid-row:2;
}

.i3{
    grid-column: 1/2 span;
    grid-row: 3;
    

}

.i4{
    grid-column: 1/2 span;
    grid-row: 4;
    margin-bottom: 5%;
    
}

.modal, .modaljs, .modalpd, .modalpgi{
    background-color: #f0f8ff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    border-radius: 1.6vw;
    overflow: hidden;
    box-shadow: 0px 0px 5px ;
}



.modal:target, .modaljs:target, .modalpd:target, .modalpgi:target{
    opacity: 1;
    visibility: visible;
}


.modal:target .modalpy__content, .modaljs:target .modaljs__content, .modalpd:target .modal_pd, .modalpgi:target .modal_pgi{
    position: absolute;
    opacity: 0;
    visibility: hidden; 
    
    
}

.modal__heading{
    margin-left: 2.5%;
    margin-bottom: 1em;
}

.modal__paragraph{
    line-height: 1.5em;
    text-align: justify;
    text-align: center;
    
}

.exlink{
    display: flex;
    justify-content: center;
}
p{
    width: 100%;
    min-height: 46vh;
    overflow: scroll;
    overflow-x: hidden;                     
    max-height: 80vh;

}


.container{
    position: relative;
    text-align: center;
    overflow-y: visible;

}
.aa{
    display: inline-block;
    overflow-y: hidden;

}

#modalpd{
    height: 35vh;
    overflow-y: auto;
}

.modal__close{
    font-size: 2em;
    color: #363636;
    position: absolute;
    top: -1em;
    right: 0.5em;
}


img, video{
    position: relative;
    max-width: 100%;
    height: auto;
}

a:link,
a:visited{
    color: #363636;
    text-decoration: none;
    text-align: center;
    margin-top: 1em;
}

footer{
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #E0D1CA;
    padding: 1vh;
    grid-column: 1/2 span;
    position: fixed;
    display: block;
    height: 55px;
}

.redes{
    margin-top: 0.5%;
    width: 67.1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50%;
    transform: translateX(-50%);
}

.lt{
    display: block;
    width: 20px;
    height: 20px;
}


.link:hover, .git:hover , .lt:hover{
    padding: 1px;
    transform: scale(1.5);
    overflow-x: none;
    cursor: pointer;
}